%h1 Dashboard

.well
  %table.table
    %thead
      %tr
        %th #
        %th Email
        %th Send On
        %th Rating
        %th Remark
        %th Is Sent
        %th Rating url
    %tbody
      - @latest_orders.each do |order|
        %tr
          %td=order.order_number
          %td=order.email
          %td=order.do_not_send_until
          %td
            - if order.rating
              = order.rating
            - else
              %i.icon-question-sign
          %td
            - if order.remark
              = order.remark
            - else
              %i.icon-question-sign
          %td
            - if order.sent
              %i.icon-ok-sign
              Sent
            - else
              %i.icon-time
              Scheduled
          %td
            = link_to rate_path(order.order_hash) do
              %i.icon-star