%h1 Dashboard

.well
  %table.table
    %thead
      %tr
        %th #
        %th Email
        %th Send On
        %th Rating
        %th Remark
        %th Is Sent
    %tbody
      - @latest_orders.each do |order|
        %tr
          %td=order.order_number
          %td=order.email
          %td=order.do_not_send_until
          %td=( order.rating ? order.rating : "<i class=' icon-question-sign'></i>" ).html_safe
          %td=( order.remark ? order.remark : "<i class=' icon-question-sign'></i>" ).html_safe
          %td=( order.sent ? "<i class='icon-ok-sign'></i> Sent" : "<i class='icon-time'></i> Scheduled" ).html_safe